In [1]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine,text as to_sql_text


db_username = 'myuser'
db_password = 'root'
db_host = 'localhost'
db_port = '5432'
db_name = 'medwell_db'

connection_string = f'postgresql+psycopg2://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}'
engine = create_engine(connection_string)
conn=engine.connect()

In [6]:
df=pd.read_sql_query(
    sql=to_sql_text('''
    select patient_id,concat(p.first_name,p.last_name) as name,requested_at::timestamp::text
from doctor_requestaccess d join authentication_customuser p
on p.id=d.patient_id
where doctor_id=75;
    '''),con=conn
)

In [7]:
df

   patient_id            name                requested_at
0          69  Rohit Deshmukh  2024-11-04 15:31:11.041877

In [5]:
df.to_dict("records")

[{'patient_id': 69,
  'name': 'Rohit Deshmukh',
  'requested_at': '2024-11-04 15:28:21.712928'},
 {'patient_id': 69,
  'name': 'Rohit Deshmukh',
  'requested_at': '2024-11-04 15:31:11.041877'}]